@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.RightWrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultsWrapper{
  width: 80%;
  height: auto;
  border-radius: 35px;
  border-top-left-radius: 6px; /* same radius with form's bottom */
  border-top-right-radius: 6px;
  background: linear-gradient(145deg, var(--color-background-soft), var(--color-background));
  margin-top: 6px;
}

.resultsHeading {
  width: 100%;
  height: 54px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: hsla(160, 100%, 37%, 0.41);
}

.results {
  width: 100%;
  height: auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


.results .row {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 26px;
  border-bottom: 1px solid hsla(160, 100%, 37%, 0.66);
  overflow: auto;
  
}

.results .row:last-child {
  border-bottom: none;
}

.results .row .date{
  position: absolute;
  bottom: 2px;
  right: 14px;
  font-size: .66rem;
}

.results .row .cell {
  text-align: center;
  border-right: 1px solid hsla(160, 100%, 37%, 0.2);
  padding: 0 0.6rem;
}

.results .row .cell:last-child {
  border-right: none;
}

.results .row .cell .label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 1089px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  .results {
    max-height: 50vh;
    overflow: auto;
  }

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
